* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f2f2;
}

.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0px 0px 5px rgba(244, 244, 244, 0.865);
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.filter-box {
  margin-bottom: 20px;
}

.filter-box h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #111;
}

.filter-box label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

.filter-box input {
  margin-right: 8px;
}

/* PRODUCTS SECTION */
.products {
  flex: 1;
}

.products h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* PRODUCT CARD */
.product-card {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 380px;
  object-fit: contain;
}

.product-card h4 {
  font-size: 16px;
  margin-top: 10px;
}

.product-card p {
  font-size: 15px;
  margin: 8px 0;
  font-weight: bold;
  color: green;
}

.product-card button {
  background-color: #ffd814;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.product-card button:hover {
  background-color: #f7ca00;
}